.table-sortable th {
	cursor: pointer;
	background-color: #343a40;
	color: #fff;
}

.edit-icon{
	cursor: pointer;
	width: 2em;
	height: 2em;
}

.fail-icon{
	width: 1em;
	height: 1em;
}


.success-icon{
	width: 1em;
	height: 1em;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.header{
	display: flex;
	justify-content: center;
}

.buttons-search-container{
	display: flex;
}

.buttons-search-container button{
	margin-right: 3px;
}

  